[Desktop Entry]
Name=Elive security updates
Name[az]=Elive təhlükəsizlik yeniləmələri
Name[bg]=Актуализации на сигурността на Elive
Name[bn]=Elive নিরাপত্তা আপডেট
Name[ca]=Actualitzacions de seguretat
Name[cs]=Aktualizace zabezpečení společnosti Elive
Name[da]=Elive sikkerhedsopdateringer
Name[de]=Elive Sicherheitsupdates
Name[el]=Ενημερώσεις ασφαλείας Elive
Name[eo]=Elive sekurecaj ĝisdatigoj
Name[es]=Actualizaciones de seguridad Elive
Name[et]=Elive turvavärskendused
Name[fi]=Elän tietoturvapäivitykset
Name[fr]=Mises à jour de sécurité Elive
Name[hi]=Elive सुरक्षा अद्यतन
Name[hr]=Elive sigurnosna ažuriranja
Name[hu]=Éles biztonsági frissítések
Name[id]=Pembaruan keamanan Elive
Name[it]=Elive aggiornamenti di sicurezza
Name[ja]=エリブのセキュリティアップデート
Name[ko]=강력한 보안 업데이트
Name[lt]='Elive'saugos naujiniai
Name[lv]=Elive drošības atjauninājumi
Name[ms]=Elakkan kemas kini keselamatan
Name[nb]=Elive sikkerhetsoppdateringer
Name[nl]=Bevrijd beveiligingsupdates
Name[no]=Elive sikkerhetsoppdateringer
Name[pl]=Aktualizacje zabezpieczeń Elive
Name[pt]=Atualizações de segurança Elive
Name[ro]=Actualizări de securitate Elive
Name[sk]=Aktualizácie zabezpečenia služby Elive
Name[sl]=Oživite varnostne posodobitve
Name[sr]=Еливе сецурити упдатес
Name[sv]=Elive säkerhetsuppdateringar
Name[te]=అలైవ్ భద్రతా నవీకరణలు
Name[tl]=Elive update ng seguridad
Name[tr]=Elif güvenlik güncelleştirmeleri
Name[uk]=Оновлення безпеки Elive
Name[vi]=Cập nhật bảo mật Elive
Comment=Special updates and security fixes for your system
Comment[az]=Sisteminiz üçün xüsusi yeniliklər və təhlükəsizlik düzəlişləri
Comment[bg]=Специални актуализации и корекции за сигурност за вашата система
Comment[bn]=আপনার সিস্টেমের জন্য বিশেষ আপডেট এবং নিরাপত্তা সমাধান
Comment[ca]=Actualitzacions especials i solucions de seguretat per al vostre sistema
Comment[cs]=Speciální aktualizace a opravy zabezpečení pro váš systém
Comment[da]=Specielle opdateringer og sikkerhedsrettelser til dit system
Comment[de]=Spezielle Updates und Sicherheitsupdates für Ihr System
Comment[el]=Ειδικές ενημερώσεις και διορθώσεις ασφαλείας για το σύστημά σας
Comment[eo]=Specialaj ĝisdatigoj kaj sekurecaj korektoj por via sistemo
Comment[es]=Actualizaciones especiales y soluciones de seguridad para su sistema
Comment[et]=Teie süsteemi jaoks spetsiaalsed värskendused ja turvaparandused
Comment[fi]=Järjestelmääsi koskevat erikoispäivitykset ja tietoturvakorjaukset
Comment[fr]=Mises à jour spéciales et correctifs de sécurité pour votre système
Comment[hi]=आपके सिस्टम के लिए विशेष अपडेट और सुरक्षा फ़िक्स
Comment[hr]=Posebna ažuriranja i sigurnosne ispravke za vaš sustav
Comment[hu]=Speciális frissítések és biztonsági javítások a rendszerhez
Comment[id]=Pembaruan khusus dan perbaikan keamanan untuk sistem Anda
Comment[it]=Aggiornamenti speciali e correzioni di sicurezza per il tuo sistema
Comment[ja]=システムの特別なアップデートとセキュリティ修正
Comment[ko]=시스템의 특별 업데이트 및 보안 수정
Comment[lt]=Jūsų sistemos specialūs naujiniai ir saugos pataisymai
Comment[lv]=Jūsu sistēmas īpašie atjauninājumi un drošības labojumi
Comment[ms]=Kemas kini khas dan pembetulan keselamatan untuk sistem anda
Comment[nb]=Spesielle oppdateringer og sikkerhetsrettelser for systemet
Comment[nl]=Speciale updates en beveiligingsoplossingen voor uw systeem
Comment[no]=Spesielle oppdateringer og sikkerhetsrettelser for systemet
Comment[pl]=Specjalne aktualizacje i poprawki bezpieczeństwa dla twojego systemu
Comment[pt]=Atualizações especiais e correções de segurança para o seu sistema
Comment[ro]=Actualizări speciale și remedierile de securitate pentru sistemul dvs.
Comment[sk]=Špeciálne aktualizácie a opravy zabezpečenia pre váš systém
Comment[sl]=Posebne posodobitve in varnostne popravke za vaš sistem
Comment[sr]=Посебне исправке и сигурносне исправке за ваш систем
Comment[sv]=Särskilda uppdateringar och säkerhetsskorrigeringar för ditt system
Comment[te]=మీ సిస్టమ్ కోసం ప్రత్యేక నవీకరణలు మరియు భద్రతా పరిష్కారాలు
Comment[tl]=Mga espesyal na update at mga pag-aayos sa seguridad para sa iyong system
Comment[tr]=Sisteminiz için özel güncellemeler ve güvenlik düzeltmeleri
Comment[uk]=Спеціальні оновлення та виправлення для системи безпеки
Comment[vi]=Cập nhật đặc biệt và các bản sửa lỗi bảo mật cho hệ thống của bạn
Icon=logo-elive
Exec=elive-upgrader --delayed
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-Autostart-enabled=true
