[Desktop Entry]
Name=Elive updates
Name[az]=Elive Yeniləmələr
Name[bg]=Elive Актуализации
Name[bn]=Elive আপডেটগুলি
Name[ca]=Actualitzacions Elive
Name[cs]=Aktualizace Elive
Name[da]=Elive opdateringer
Name[de]=Elive Updates
Name[el]=Ενημερώσεις Elive
Name[eo]=Elive ĝisdatigoj
Name[es]=Actualizaciones de Elive
Name[et]=Elive uuendused
Name[fi]=Elävää päivitystä
Name[fr]=Mises à jour Elive
Name[hi]=अद्यतन प्राप्त करें
Name[hr]=Elive ažuriranja
Name[hu]=Élő frissítések
Name[id]=Pembaruan elive
Name[it]=Aggiornamenti Elive
Name[ja]=エリブの更新
Name[ko]=열정 업데이트
Name[lt]=Elive atnaujinimai
Name[lv]=Elive atjauninājumi
Name[ms]=Elive updates
Name[nb]=Elive oppdateringer
Name[nl]=Elive updates
Name[no]=Elive oppdateringer
Name[pl]=Aktualizacja Elive
Name[pt]=Elive atualizações
Name[ro]=Actualizări Elive
Name[sk]=Aktualizácie služby Elive
Name[sl]=Elive posodobitve
Name[sr]=Еливе упдатес
Name[sv]=Eliv uppdateringar
Name[te]=ఎలైట్ నవీకరణలు
Name[tl]=Elive updates
Name[tr]=Elive güncellemeleri
Name[uk]=Еліве оновлення
Name[vi]=Cập nhật Elive
Comment=Updates, improvements and security fixes for your Elive system
Comment[az]=Elive sisteminizin yenilənməsi, təkmilləşdirilməsi və təhlükəsizlik düzəlişləri
Comment[bg]=Актуализации, подобрения и корекции за сигурност за вашата Elive система
Comment[bn]=আপনার Elive সিস্টেমের জন্য আপডেট, উন্নতি এবং নিরাপত্তা সমাধানগুলি
Comment[ca]=Actualitzacions, millores i correccions de seguretat per al vostre sistema Elive
Comment[cs]=Aktualizace, vylepšení a opravy zabezpečení pro váš systém Elive
Comment[da]=Opdateringer, forbedringer og sikkerhedsrettelser til dit Elive-system
Comment[de]=Updates, Verbesserungen und Sicherheitsupdates für Ihr Elive-System
Comment[el]=Ενημερώσεις, βελτιώσεις και διορθώσεις ασφαλείας για το σύστημά σας Elive
Comment[eo]=Ĝisdatigoj, plibonigoj kaj sekurecaj korektoj por via Elive-sistemo
Comment[es]=Actualizaciones, mejoras y soluciones de seguridad para su sistema Elive
Comment[et]=Teie Elive süsteemi värskendused, parandused ja turvaparandused
Comment[fi]=Elive-järjestelmän päivitykset, parannukset ja tietoturvakorjaukset
Comment[fr]=Mises à jour, améliorations et correctifs de sécurité pour votre système Elive
Comment[hi]=आपके एलिव सिस्टम के लिए अपडेट, सुधार और सुरक्षा फ़िक्स
Comment[hr]=Ažuriranja, poboljšanja i sigurnosnih popravaka za vaš Elive sustav
Comment[hu]=Frissítések, fejlesztések és biztonsági javítások Elive rendszere számára
Comment[id]=Pembaruan, peningkatan, dan perbaikan keamanan untuk sistem Elive Anda
Comment[it]=Aggiornamenti, miglioramenti e correzioni di sicurezza per il tuo sistema Elive
Comment[ja]=Eliveシステムの更新、改善、およびセキュリティ修正
Comment[ko]=Elive 시스템의 업데이트, 개선 및 보안 수정
Comment[lt]='Elive'sistemos naujiniai, patobulinimai ir saugos pataisymai
Comment[lv]=Elive sistēmas atjauninājumi, uzlabojumi un drošības labojumi
Comment[ms]=Kemas kini, penambahbaikan dan pembaikan keselamatan untuk sistem Elive anda
Comment[nb]=Oppdateringer, forbedringer og sikkerhetsrettelser for ditt Elive-system
Comment[nl]=Updates, verbeteringen en beveiligingsoplossingen voor uw Elive-systeem
Comment[no]=Oppdateringer, forbedringer og sikkerhetsrettelser for ditt Elive-system
Comment[pl]=Aktualizacje, ulepszenia i poprawki bezpieczeństwa dla twojego systemu Elive
Comment[pt]=Atualizações, melhorias e correções de segurança para o seu sistema Elive
Comment[ro]=Actualizări, îmbunătățiri și corecții de securitate pentru sistemul dvs. Elive
Comment[sk]=Aktualizácie, vylepšenia a opravy zabezpečenia pre váš systém Elive
Comment[sl]=Posodobitve, izboljšave in varnostne popravke sistema Elive
Comment[sr]=Ажурирања, побољшања и сигурносне исправке за ваш Еливе систем
Comment[sv]=Uppdateringar, förbättringar och säkerhetsskorrigeringar för ditt Elive-system
Comment[te]=మీ Elive వ్యవస్థ కోసం నవీకరణలు, మెరుగుదలలు మరియు భద్రతా పరిష్కారాలు
Comment[tl]=Mga update, pagpapahusay at mga pag-aayos sa seguridad para sa iyong Elive system
Comment[tr]=Elive sisteminiz için güncellemeler, iyileştirmeler ve güvenlik düzeltmeleri
Comment[uk]=Оновлення, вдосконалення та виправлення безпеки для вашої системи Elive
Comment[vi]=Cập nhật, cải tiến và sửa lỗi bảo mật cho hệ thống Elive của bạn
Icon=logo-elive
Exec=elive-upgrader --delayed
Terminal=false
Type=Application
NoDisplay=true
X-GNOME-Autostart-enabled=true
