[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Elive upgrader
Name[az]=Elive təkmilləşdirici
Name[bg]=Надстройка на Elive
Name[bn]=ইলিভ আপগ্রডার
Name[ca]=Actualitzador Elive
Name[cs]=Elive upgrader
Name[da]=Elive opgraderer
Name[de]=Elive-Aktualisierung
Name[el]=Αναβαθμιστής Elive
Name[eo]=Elive ĝisdatigo
Name[es]=Actualizador de Elive
Name[et]=Elive uuendaja
Name[fi]=Elive-päivitys
Name[fr]=Mise à niveau d'Elive
Name[hi]=जीवंत उन्नयनकर्ता
Name[hr]=Elive nadograditelj
Name[hu]=Elive frissítő
Name[id]=Pemutakhiran hidup
Name[it]=Aggiornamento vivo
Name[ja]=Elive アップグレーダー
Name[ko]=엘라이브 업그레이드
Name[lt]=„Elive“ tobulintuvas
Name[lv]=Elive uzlabotājs
Name[ms]=Penaik taraf Elive
Name[nb]=Elive oppgraderer
Name[nl]=Elive-upgradeprogramma
Name[no]=Elive oppgraderer
Name[pl]=Ulepszacz Elive
Name[pt]=Atualizador Elive
Name[ro]=Upgrader Elive
Name[ru]=Эливный апгрейдер
Name[sk]=Vylepšovač Elive
Name[sl]=Elive nadgradnja
Name[sr]=Еливе упградер
Name[sv]=Elive uppgraderare
Name[te]=ఎలివ్ అప్గ్రేడర్
Name[tl]=Elive upgrader
Name[tr]=Elive yükseltici
Name[uk]=Оновлювач Elive
Name[vi]=Nâng cấp Elive
Name[zh]=实时升级器
Comment=Upgrade your Elive system
Comment[az]=Elive sisteminizi təkmilləşdirin
Comment[bg]=Надстройте системата си Elive
Comment[bn]=আপনার Elive সিস্টেম আপগ্রেড করুন
Comment[ca]=Actualitzeu el vostre sistema Elive
Comment[cs]=Upgradujte svůj systém Elive
Comment[da]=Opgrader dit Elive-system
Comment[de]=Aktualisieren Sie Ihr Elive-System
Comment[el]=Αναβαθμίστε το σύστημα Elive σας
Comment[eo]=Ĝisdatigu vian Elive-sistemon
Comment[es]=Actualiza tu sistema Elive
Comment[et]=Täiendage oma Elive süsteemi
Comment[fi]=Päivitä Elive-järjestelmäsi
Comment[fr]=Mettez à niveau votre système Elive
Comment[hi]=अपने एलीव सिस्टम को अपग्रेड करें
Comment[hr]=Nadogradite svoj Elive sustav
Comment[hu]=Frissítse Elive rendszerét
Comment[id]=Tingkatkan sistem Elive Anda
Comment[it]=Aggiorna il tuo sistema Elive
Comment[ja]=Elive システムをアップグレードする
Comment[ko]=Elive 시스템을 업그레이드하세요
Comment[lt]=Atnaujinkite savo „Elive“ sistemą
Comment[lv]=Jauniniet savu Elive sistēmu
Comment[ms]=Tingkatkan sistem Elive anda
Comment[nb]=Oppgrader ditt Elive-system
Comment[nl]=Upgrade uw Elive-systeem
Comment[no]=Oppgrader ditt Elive-system
Comment[pl]=Uaktualnij swój system Elive
Comment[pt]=Atualize seu sistema Elive
Comment[ro]=Actualizați-vă sistemul Elive
Comment[ru]=Обновите свою систему Elive
Comment[sk]=Inovujte svoj systém Elive
Comment[sl]=Nadgradite svoj sistem Elive
Comment[sr]=Надоградите свој Еливе систем
Comment[sv]=Uppgradera ditt Elive-system
Comment[te]=మీ Elive సిస్టమ్ను అప్గ్రేడ్ చేయండి
Comment[tl]=I-upgrade ang iyong Elive system
Comment[tr]=Elive sisteminizi yükseltin
Comment[uk]=Оновіть свою систему Elive
Comment[vi]=Nâng cấp hệ thống Elive của bạn
Comment[zh]=升级您的 Elive 系统
#Categories=Elive
Categories=System;
#StartupNotify=true
NoDisplay=false
Icon=update-manager
TryExec=elive-upgrader
Exec=bash -c "EL_DEBUG=2 elive-upgrader --upgrade ; sleep 5"
Terminal=true
