[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Elive upgrader
Name[az]=Elive Yükseltici
Name[bg]=Elive Актуализатор
Name[bn]=ইলিভ আপগ্রেডার
Name[ca]=Elive Actualitzador
Name[cs]=Elive Aktualizátor
Name[da]=Elive Opgraderer
Name[de]=Elive Aktualisierung
Name[el]=Elive Ενημερωτής
Name[eo]=Elive Ĝisdatigo
Name[es]=Elive Actualizador
Name[et]=Elive Uuendaja
Name[fi]=Elive Päivitys
Name[fr]=Elive Mise à Niveau
Name[hi]=Elive अपग्रेडर
Name[hr]=Elive Nadograditelj
Name[hu]=Elive Frissítő
Name[id]=Elive Pembaruan
Name[it]=Elive Aggiornamento
Name[ja]=Elive アップグレード
Name[ko]=Elive 업그레이드
Name[lt]=Elive Atnaujinimas
Name[lv]=Elive Uzlabotājs
Name[ms]=Elive Peningkatan
Name[nb]=Elive Oppgraderer
Name[nl]=Elive Upgrade
Name[no]=Elive Oppgraderer
Name[pl]=Elive Aktualizacja
Name[pt]=Elive Atualizador
Name[ro]=Elive Actualizare
Name[ru]=Elive Апгрейдер
Name[sk]=Elive Aktualizácia
Name[sl]=Elive Nadgradnja
Name[sr]=Elive Ажурирање
Name[sv]=Elive Uppgradering
Name[te]=Elive అప్గ్రేడ్
Name[tl]=Elive Pag-upgrade
Name[tr]=Elive Yükseltme
Name[uk]=Elive Оновлення
Name[vi]=Elive Nâng cấp
Name[zh]=Elive 升级器
Comment=Upgrade your Elive system
Comment[az]=Elive Sisteminizi Yükseltin
Comment[bg]=Актуализирайте Системата Ви Elive
Comment[bn]=আপনার Elive সিস্টেম আপগ্রেড করুন
Comment[ca]=Actualitzeu el Vostre Sistema Elive
Comment[cs]=Aktualizujte Váš Systém Elive
Comment[da]=Opgrader Dit Elive-System
Comment[de]=Aktualisieren Sie Ihr Elive-System
Comment[el]=Αναβαθμίστε το Σύστημα Elive σας
Comment[eo]=Ĝisdatigu Vian Elive-Sistemon
Comment[es]=Actualiza Tu Sistema Elive
Comment[et]=Täiendage Oma Elive Süsteemi
Comment[fi]=Päivitä Elive-Järjestelmäsi
Comment[fr]=Mettez à Niveau Votre Système Elive
Comment[hi]=अपने Elive सिस्टम को अपग्रेड करें
Comment[hr]=Nadogradite Svoj Elive Sustav
Comment[hu]=Frissítse Elive Rendszerét
Comment[id]=Tingkatkan Sistem Elive Anda
Comment[it]=Aggiorna il Tuo Sistema Elive
Comment[ja]=Elive システムをアップグレードする
Comment[ko]=Elive 시스템을 업그레이드하세요
Comment[lt]=Atnaujinkite Savo „Elive“ Sistemą
Comment[lv]=Jauniniet Savu Elive Sistēmu
Comment[ms]=Tingkatkan Sistem Elive Anda
Comment[nb]=Oppgrader Ditt Elive-System
Comment[nl]=Upgrade Uw Elive-Systeem
Comment[no]=Oppgrader Ditt Elive-System
Comment[pl]=Uaktualnij Swój System Elive
Comment[pt]=Atualize Seu Sistema Elive
Comment[ro]=Actualizați-vă Sistemul Elive
Comment[ru]=Обновите Свою Систему Elive
Comment[sk]=Inovujte Svoj Systém Elive
Comment[sl]=Nadgradite Svoj Sistem Elive
Comment[sr]=Надоградите Свој Еливе Систем
Comment[sv]=Uppgradera Ditt Elive-System
Comment[te]=మీ Elive సిస్టమ్ను అప్గ్రేడ్ చేయండి
Comment[tl]=I-upgrade ang Iyong Elive System
Comment[tr]=Elive Sisteminizi Yükseltin
Comment[uk]=Оновіть Свою Систему Elive
Comment[vi]=Nâng Cấp Hệ Thống Elive Của Bạn
Comment[zh]=升级您的 Elive 系统
#Categories=Elive
Categories=System;
#StartupNotify=true
NoDisplay=false
Icon=update-manager
TryExec=elive-upgrader
Exec=bash -c "EL_DEBUG=2 elive-upgrader --upgrade ; sleep 5"
Terminal=true
